*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262626;
}

h1 {
    color: #f5f5f5;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.board {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 525px;
    height: 525px;
    background-color: #fafafa;
    box-shadow: 0 0 100px 15px #48abe0;
}

.square {
    display: flex;
    flex-basis: auto;
    width: 175px;
    height: 175px;
    border: 1px solid #0284c7;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: bold;
    color: #404040;
}

.buttons {
    display: flex;
    gap: 75px;
}

button {
    width: 125px;
    height: 50px;
    background-color: #0ea5e9;
    font-size: 22px;
    font-weight: bold;
    color: #fafafa;
    border: 0px;
    border-radius: 20px;
}

button:hover {
    background-color: #38bdf8;
}

.nameinputs {
    display: flex;
    gap: 50px;
}

input {
    appearance: none;
    outline: none;
    width: 225px;
    height: 40px;
    border-radius: 10px;
    border: 3px solid #0369a1;
    padding: 0px 5px;
    background-color: #fafafa;
    font-size: 18px;
}

input:focus {
    border: 3px solid #0ea5e9;
}