body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.board {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 600px;
    height: 600px;
}

.square {
    display: flex;
    width: 200px;
    height: 200px;
    border: 1px solid;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 15px;
}

button {
    width: 60px;
    height: 25px;
}